@using ScaleModeling.Domain.Entities
@model List<Event>

@{
	ViewBag.Title = Model.First().Title;
}

@section Links{
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Home")" class="glyphicon glyphicon-home">
				<div>Главная</div>
			</a>
		</div>

	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Shop")" class="glyphicon glyphicon-usd">
				<div>Магазин</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Event")" class="active glyphicon glyphicon-bullhorn">
				<div>События</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Article")" class="glyphicon glyphicon-list-alt">
				<div>Статьи</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Forum")" class="glyphicon glyphicon-pencil">
				<div>Форум</div>
			</a>
		</div>

	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Video")" class="glyphicon glyphicon-film">
				<div>Видео</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Work")" class="glyphicon glyphicon-wrench">
				<div>Работы</div>
			</a>
		</div>
	</li>
}

<div class="row">
	qweqw
</div>
