
@{
	ViewBag.Title = "События";
}

@section Links{
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Home")" class="glyphicon glyphicon-home">
				<div>Главная</div>
			</a>
		</div>

	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Shop")" class="glyphicon glyphicon-usd">
				<div>Магазин</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Event")" class="active glyphicon glyphicon-bullhorn">
				<div>События</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Article")" class="glyphicon glyphicon-list-alt">
				<div>Статьи</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Forum")" class="glyphicon glyphicon-pencil">
				<div>Форум</div>
			</a>
		</div>

	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Video")" class="glyphicon glyphicon-film">
				<div>Видео</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Work")" class="glyphicon glyphicon-wrench">
				<div>Работы</div>
			</a>
		</div>
	</li>
}

<div class="container-fluid">
	<div class="row">

		<div class="col-md-5 col-md-offset-1">
			<div class="row well">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<p>Описание  это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
						</div>
						<span class="pull-right label label-primary">Подробнее...</span>
					</div>
				</div>
			</div>
			<div class="row well">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p>Статья</p>
						</div>
						<div class="col-md-10">
							<p>Описание  это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
						</div>
						<span class="pull-right label label-primary">Подробнее...</span>
					</div>
				</div>
			</div>
			<div class="row well">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p>Статья</p>
						</div>
						<div class="col-md-10">
							<p>Описание  это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
						</div>
						<span class="pull-right label label-primary">Подробнее...</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-5 col-md-offset-1">
			<div class="row well">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p>Тема</p>
						</div>
						<div class="col-md-10">
							<p>Описание  это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
						</div>
						<span class="pull-right label label-primary">Подробнее...</span>
					</div>
				</div>
			</div>
			<div class="row well">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p>Тема</p>
						</div>
						<div class="col-md-10">
							<p>Описание  это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
						</div>
						<span class="pull-right label label-primary">Подробнее...</span>
					</div>
				</div>
			</div>
			<div class="row well">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p>Тема</p>
						</div>
						<div class="col-md-10">
							<p>Описание  это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
						</div>
						<span class="pull-right label label-primary">Подробнее...</span>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="row">

		<div class="col-md-5 col-md-offset-1">
			<div class="row well">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p>Событие</p>
						</div>
						<div class="col-md-10">
							<p>Описание  это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
						</div>
						<span class="pull-right label label-primary">Подробнее...</span>
					</div>
				</div>
			</div>
			<div class="row well">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p>Событие</p>
						</div>
						<div class="col-md-10">
							<p>Описание  это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
						</div>
						<span class="pull-right label label-primary">Подробнее...</span>
					</div>
				</div>
			</div>
			<div class="row well">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p>Событие</p>
						</div>
						<div class="col-md-10">
							<p>Описание  это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
						</div>
						<span class="pull-right label label-primary">Подробнее...</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-5 col-md-offset-1">
			<div class="row well">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p>Ассортимент</p>
						</div>
						<div class="col-md-10">
							<p>Опифтов, используя Lorem Ipsum для распечатки образцов.</p>
						</div>
						<span class="pull-right label label-primary">Подробнее...</span>
					</div>
				</div>
			</div>
			<div class="row well">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p>Ассортимент</p>
						</div>
						<div class="col-md-10">
							<p>Описание  это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
						</div>
						<span class="pull-right label label-primary">Подробнее...</span>
					</div>
				</div>
			</div>
			<div class="row well">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p>Ассортимент</p>
						</div>
						<div class="col-md-10">
							<p>Описание  это текст-"не. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
						</div>
						<span class="pull-right label label-primary">Подробнее...</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>