<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render( "~/Content/css" )
	@Scripts.Render( "~/bundles/modernizr" )

	<meta name="description" content="Сайт для любителей стендового моделизма" />
</head>
<body>
	<div class="container-fluid">
		<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
			<a class="navmenu-brand visible-md visible-lg text-center" href="@Url.Action("Index","Home")">Лого</a>
			<ul class="nav navmenu-nav">
				@RenderSection( "Links" )
			</ul>
		</div>
		<header>
			<nav class="nav nav-center">
				<ul>
					@Html.Partial( "_LoginPartial" )
				</ul>
			</nav>
		</header>
		@RenderBody()
		<footer>
			<nav class="nav nav-center">
				<ul>
					<li>
						<a href="@Url.Action("Index", "Home")">VK</a>
					</li>
					<li>
						<a href="@Url.Action("Index", "Home")">Помощь</a>
					</li>
				</ul>
			</nav>
		</footer>
	</div>

	@Scripts.Render( "~/bundles/jquery" )
	@Scripts.Render( "~/bundles/main" )
	@Scripts.Render( "~/bundles/bootstrap" )
	@RenderSection( "scripts", required: false )
</body>
</html>
