@using ScaleModeling.WebUI.Models

@model HomeViewModel

@{
	ViewBag.Title = "Главная";
}

@section Links{
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Home")" class="active glyphicon glyphicon-home">
				<div>Главная</div>
			</a>
		</div>

	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Shop")" class="glyphicon glyphicon-usd">
				<div>Магазин</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Event")" class="glyphicon glyphicon-bullhorn">
				<div>События</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Article")" class="glyphicon glyphicon-list-alt">
				<div>Статьи</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Forum")" class="glyphicon glyphicon-pencil">
				<div>Форум</div>
			</a>
		</div>

	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Video")" class="glyphicon glyphicon-film">
				<div>Видео</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Work")" class="glyphicon glyphicon-wrench">
				<div>Работы</div>
			</a>
		</div>
	</li>
}

<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<h3>Новые статьи</h3>
		@foreach (var article in Model.Articles)
		{
			<div class="row well">
				<div class="row">
					<div class="col-md-12 text-justified">
						<p>@article.Description.Substring( 0, 300 )...</p>
					</div>
				</div>

				<div class="col-md-12">
					<div class="row">
						<div class="col-md-10">
							<span class="pull-left">@article.Title</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<span class="pull-left label label-date">@article.CreationDate.ToString().Substring( 0, 10 )</span>
						</div>
						<div class="col-md-6">
							<span class="pull-right label label-author">@article.Author.Login</span>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
	<div class="col-md-5 col-md-offset-1">
		<h3>Новые темы</h3>
		@foreach (var topic in Model.Topics)
		{
			<div class="row well">
				<div class="row">
					<div class="col-md-12 text-justified">
						<p>@topic.Text.Substring( 0, 300 )...</p>
					</div>
				</div>

				<div class="col-md-12">
					<div class="row">
						<div class="col-md-10">
							<span class="pull-left">@topic.Title</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<span class="pull-left label label-date">@topic.CreationDate.ToString().Substring( 0, 10 )</span>
						</div>
						<div class="col-md-6">
							<span class="pull-right label label-author">@topic.Author.Login</span>
						</div>
					</div>
				</div>
			</div>
		}
	</div>

</div>
<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<h3>Новые события</h3>
		@foreach (var ev in Model.Events)
		{
			<div class="row well">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<p>@ev.Title</p>
						</div>
						<div class="col-md-10 text-justified">
							<p>@ev.Description.Substring( 0, 300 )...</p>
						</div>
						<span class="pull-right label label-primary">Подробнее...</span>
					</div>
				</div>
			</div>
		}
	</div>

	<div class="col-md-5 col-md-offset-1">
		<h3 class="new-title">Новый ассортимент</h3>
		@foreach (var product in Model.Products)
		{
			<div class="col-md-6">
				<div class="row well">
					<div class="text-center">
						<div class="container">
							@{
								var image = product.ProductImages.FirstOrDefault();
								if (image != null)
								{
									<img src="~/Content/Images/tank.jpg" class="img-rounded smallImages">
								}
								else
								{
									<img src="~/Content/Images/no-image.svg" class="img-rounded smallImages">
								}
							}

							<div class="text-center product-name">
								<strong>@product.Name Т-34/76 КФЦКШЕФЦ 1/36</strong>
							</div>
							<button class="pull-right btn btn-primary">В корзину</button>
							<span class="pull-left label label-price">@product.Price Р.</span>
						</div>
					</div>
				</div>
			</div>
								}
	</div>
</div>