@using ScaleModeling.Domain.Entities
@model ForumTopic

@{
	ViewBag.Title = Model.Title;
}

@section Links{
	<li>
		<div class="navigation-couple">
			<img src="~/Content/Images/avatar.jpg" class="clickable-content img-circle logo-image" data-href="@Url.Action("Index", "Manage")" />
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Home")" class="glyphicon glyphicon-home">
				<div>Главная</div>
			</a>
		</div>

	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Shop")" class="glyphicon glyphicon-usd">
				<div>Магазин</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Event")" class="glyphicon glyphicon-bullhorn">
				<div>События</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Article")" class="glyphicon glyphicon-list-alt">
				<div>Статьи</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Forum")" class="active glyphicon glyphicon-pencil">
				<div>Форум</div>
			</a>
		</div>

	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Video")" class="glyphicon glyphicon-film">
				<div>Видео</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Work")" class="glyphicon glyphicon-wrench">
				<div>Работы</div>
			</a>
		</div>
	</li>
}

<div class="row article-title-container">
	<div class="container pull-left">
		<span class="label label-date">
			<span class="glyphicon glyphicon-time"></span>
			<span id="viewed">@Model.CreationDate.ToString().Substring( 0, 10 )</span>
		</span>
		<span class="label label-author">
			<span class="glyphicon glyphicon-user"></span>
			<span id="viewed">@Model.Author.UserName</span>
		</span>
		<span class="label label-viewed">
			<span class="glyphicon glyphicon-eye-open"></span>
			<span id="viewed">@Model.Viewed</span>
		</span>
		<span class="label label-viewed">
			<span class="glyphicon glyphicon-comment"></span>
			<span id="viewed">@Model.Comments.Count</span>
		</span>
	</div>
	<div class="pull-right">
		<div class="article-title">
			<strong>
				@Model.Title
			</strong>
		</div>
	</div>
</div>
