@using ScaleModeling.Domain.Entities
@model Article

@{
	ViewBag.Title = Model.Title;

	AjaxOptions ajaxOptionsComments = new AjaxOptions
	{
		UpdateTargetId = "comments"
	};

	AjaxOptions ajaxOptionsLikes = new AjaxOptions
	{
		UpdateTargetId = "like-count"
	};
}

@section Links{
	<li>
		<div class="navigation-couple">
			<img src="~/Content/Images/avatar.jpg" class="clickable-content img-circle logo-image" data-href="@Url.Action("Index", "Manage")" />
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Home")" class="glyphicon glyphicon-home">
				<div>Главная</div>
			</a>
		</div>

	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Shop")" class="glyphicon glyphicon-usd">
				<div>Магазин</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Event")" class="glyphicon glyphicon-bullhorn">
				<div>События</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Article")" class="active glyphicon glyphicon-list-alt">
				<div>Статьи</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Forum")" class="glyphicon glyphicon-pencil">
				<div>Форум</div>
			</a>
		</div>

	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Video")" class="glyphicon glyphicon-film">
				<div>Видео</div>
			</a>
		</div>
	</li>
	<li>
		<div class="navigation-couple">
			<a href="@Url.Action("Index", "Work")" class="glyphicon glyphicon-wrench">
				<div>Работы</div>
			</a>
		</div>
	</li>
}

<div class="row title-container">
	<div class="container pull-left">
		<span class="label label-date">
			<span class="glyphicon glyphicon-time"></span>
			<span class="viewed">@Model.CreationDate.ToString().Substring( 0, 10 )</span>
		</span>
		<span class="label label-author">
			<span class="glyphicon glyphicon-user"></span>
			<span class="viewed">@Model.Author.UserName</span>
		</span>
		<span class="label label-viewed">
			<span class="glyphicon glyphicon-eye-open"></span>
			<span class="viewed">@Model.Viewed</span>
		</span>
		<span class="label label-viewed">
			<span class="glyphicon glyphicon-thumbs-up"></span>
			<span class="viewed">@Model.Likes.Count</span>
		</span>
		<span class="label label-viewed">
			<span class="glyphicon glyphicon-comment"></span>
			<span class="viewed">@Model.Comments.Count</span>
		</span>
	</div>
	<div class="pull-right">
		<div class="aw-title">
			<strong>
				@Model.Title
			</strong>
		</div>
	</div>
</div>
<div class="row body-container">
	@Model.Description
</div>
<div class="row footer-container">
	<div class="container pull-right">
		@using (Ajax.BeginForm( "CommentsOpen", new { id = Model.Id }, ajaxOptionsComments ))
		{
			<button type="submit" class="btn btn-primary pull-right">
				<span class="glyphicon glyphicon-comment"></span>
				<span class="viewed">@Model.Comments.Count()</span>
			</button>
		}
		@using (Ajax.BeginForm( "AddLike", new { id = Model.Id }, ajaxOptionsLikes ))
		{
			<button class="btn btn-primary pull-right" id="button-likes">
				<span class="glyphicon glyphicon-thumbs-up"></span>
				<span class="viewed" id="like-count">@Model.Likes.Count</span>
			</button>
		}
	</div>
</div>
<div id="comments">
</div>

